<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= link_to "ðŸ¼ The Jungle Book", root_path, class: "nav-bar-brand" %> 
      </div>

      <ul class="nav navbar-nav">

        <li>
        <%= button_to "Add New Animal", new_animal_path, method: :get %>
        </li>

      <% if user_signed_in? %>

        <li>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        </li>

        <% else %>
        <li>
        <%= button_to "Sign Up", new_user_registration_path, method: :get %>
        </li>
        <% end %>

    </ul>

  </div>
</nav>
