<%= render "nav-bar" %>

<h3>Add A New Animal</h3>

<div class="form-page">
<%= render "form", animal: @animal %>
</div>

<div class="bottom-nav">

  <div class="bottom-links" >
  <%= button_to " Back " , root_path, method: :get %>
  </div>
</div>