.bottom-nav {
  font-size: 16px;
  padding: 10px 50px 10px 50px;
}

.navbar {
  border-bottom: 1px dashed grey;
  margin: 20px;
}
.nav-bar-brand {
  font-size: 22px;
  color: black;
}

h3 {
  margin-left: 30px;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 10px;
}

// BOTTOM NAV

.bottom-nav {
  // border-top: 1px dashed grey;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 10px;
  margin-left: 30px;
}

.bottom-links {
  margin: 5px 20px;
}